 {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
}



body {
	font-family: Arial, sans-serif ;
}

	/* Фиксация фона */ 
.fon {
	position: fixed;
}

	/* Главное меню */
.mainmenu {
	width: 100%;
	background-color: #212121;
	height: 70px;
	position: fixed;
	border-bottom: 2px solid #d93604;
	z-index: 1;
}
	
	/* Кнoпка "Главная" */
.namelink {
}

#namelink {
	padding: 15px 15px 15px 184px;
	border-right: 2px solid  #d93604;
	color: #d93604;
	font-weight: bold;
	font-size: 35px;
	text-decoration: none;
	float: left;
	transition: 0.3s;
}

#namelink:hover {
	color: #141414;	
	background-color: #d93604;
}

	/* Поиск */
#search-box {
	width: 800px;
  left: 50%;
  border-radius: 10px;
  margin: -400px 0 0 -400px;
	margin-top: 70px;
	display: none;
	background: #3d3d3d;
	position: absolute;
	position: fixed;
	z-index: 1; 
	animation-name: open;
	animation-duration: 0.3s;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;

  }
}

#search-content {
	margin: 10px;
}

input {
	width: 780px;
	padding: 10px;
	font-size: 20px;
	font-family:'Comfortaa', cursive;
	color: white;
	background-color:  #525151;
	border: unset;
	border-radius: 5px;
	outline: none;
}
 
.search {
	margin: 5px 5px 0px 15px;
	padding: 10px 10px 6px 10px;;
	background: #FF483D;
	border-radius: 6px;
	border: 2px solid #FF483D;
	float: left;
	list-style-type: none;
	cursor: pointer;
}

.searchresult-element {
	margin: 10px;
	padding: 5px;
	background:  #525151;
	border-radius: 5px;
}

.searchresult-img {
	border-radius: 5px;
}

.searchresult-title {
	padding: 5px;
	display: inline;
	color: white;
	font-size: 19px;
	vertical-align: top;
}

.searchresult-link {
	text-decoration: none;
}
 
#not-result {
	margin: 10px;
	padding: 5px;
	background:  #525151;
	border-radius: 5px;
	color:FF483D;
	text-align: center;
}

#searhc-close {
	margin-top: -75px;
	margin-right: -50px;
	float: right;
	cursor: pointer;
}
	/* end */


#catalog {
	margin: 10px 50px 10px 10px;
	padding: 11px 10px 10px 10px;
	border-radius: 5px;
	float: right;
	display: flex;
	color:#d93604;
	text-decoration: none;
	font-size: 23px;
	font-weight: bold;
	transition: 0.2s;
}

#catalog:hover {
	color: #212121;
	background-color: #d93604;
}

#add-title {
	margin: 10px 50px 10px 10px;
	padding: 11px 10px 10px 10px;
	border-radius: 5px;
	float: right;
	display: flex;
	color:#d93604;
	text-decoration: none;
	font-size: 23px;
	font-weight: bold;
	transition: 0.2s;
}

#add-title:hover {
	color: #212121;
	background-color: #d93604;
}


#user {
	padding: 23px 20px 20px 20px;
	padding-bottom: 20px;
	border-left: 2px solid #d93604;
	float: right;
	display: flex;
	transition: 0.3s;
	color: #d93604;
	text-decoration: none;
	font-size: 23px;
	font-weight: bold;
}

#user:hover {
	color: #212121;
	background-color: #d93604;
}

	/* context */
#wrapper {
	position: relative;
	padding-top: 85px;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

	/* main */
#main {
	width: 100%;
	float: left;
	background-color: #262626;
	border-radius: 10px;
	z-index: 1;
}

h3 {
	color: #d93604;
	font-size: 25px;
	font-weight: bold;	
	text-align: center;
}

#add-title-form {
	margin: 20px;
}

.input {
	width: 900px;
	margin: 0px 0px 0px 30px;
	padding: 10px 5px;
	font-size: 20px;
	color: #d93604;
	background-color: #262626;
	border: unset;
	border: 1px solid #d93604;
	border-radius: 5px;
	outline: none;
}

.input::placeholder {
	transition: 0.5s;
    color: red;
    opacity: 1;
}

.ins {
	margin: 30px 0px 10px 30px;
	color: #d93604;
	font-size: 20px;
	font-weight: bold;
}

textarea {
	width: 900px;
	height: 200px;
	margin: 0px 0px 0px 30px;
	padding: 10px 5px;
	font-size: 20px;
	color: #d93604;
	background-color: #262626;
	border: unset;
	border: 1px solid #d93604;
	border-radius: 5px;
	outline: none;
}

#add-title-btn {
	width: 300px;
	margin: 20px 0px 20px 300px;
	padding: 12px 5px;
	color: #262626;
	background-color: #d93604;
	text-decoration: none;
	border-radius: 6px;
	border: none;
	font-weight: bolder;
	font-size: 25px;
	transition: 0.2s;
	cursor: pointer;
	border: 2px solid #d93604;
}

#add-title-btn:hover {
	color: #d93604;
	background-color: #262626;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 12px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #212121;
}

::-webkit-scrollbar:hover {
    background-color: #525151;

}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color:  #363636;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #363636;
}




	/* Контрольные точки под разные устройства */

@media screen and (max-width: 960px) {
	#main {
		float: none;
		width: 100%;
	}

	#main {
		border-top-left-radius: 0px;
	}

	#namelink {
		padding: 15px 15px 15px 15px;
		float: left;
		transition: 0.3s;
	}

	/* Поиск */
	.searchbox {
		float: left;
		position: fixed;
		width: 50px;
		padding-left: 8px;
		padding-top: 9px;
		padding-bottom: 9px;
		display: inline-block;
	}

	.searchbox input {
		display: none;
	}

	.searchbox button {
	  	position: absolute; 
	  	top: 0;
	  	margin-top: 9px;
	  	right: 0px;
	  	width: 50px;
	  	height: 50px;
	  	border: none;
	  	background: #d93604;
	  	border-radius: 0 5px 5px 0;
	  	cursor: pointer;
	}
		
	.searchbox button:before {
	  	content: "\f002";
	  	font-family: FontAwesome;
	  	font-size: 20px;
	  	color: #0a0000;
	}
	/* end */

	.user {
		margin: 0px 0px 0px 20px;
		padding: 20px 20px 20px 20px;
	}

}
