/*Подтягиваем шрифт "Nunito"*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
	--main-color: #FF5656;
	--main-color-ligt: #ff8686;
	--background: #212121;
	--box-color: #292929;
}

body {
	font-family: "Nunito", sans-serif;
	margin: 0;
	padding: 0;
	overflow-y:hidden; 
	overflow-x:hidden; 	
}

/*Фон сайта*/
#background {	
	width: auto;
	height: auto;
	position: fixed;
	z-index: -1;
	object-fit: cover;
}

.error-message-box {
	position: absolute;
	left: 50px;
	top: calc(30%);
}

.error-label {
	padding: 20px;
	border-radius: 20px;
	color: #fef8e0;
	font-size: 3rem;
	background-color: #718f91;
	z-index: 10;
}

@keyframes goHome {
  from {
  	opacity: 0;
    margin-top: -100px;
  }

  to {
  	opacity: 1;
    margin-top: -20px;
  }
}

.go-home-btn {
	float: right;
	margin-top: -20px;
	padding: 10px 50px;
	border-radius: 20px;
	border: 2px solid #718f91;
	background-color: #718f91;
	color: #fef8e0;
	font-size: 1.5rem;
	animation-name: goHome;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	z-index: 1;
	cursor: pointer;
	transition: 0.3s;
	text-decoration: none;
}

.go-home-btn:hover {
	border: 2px solid #718f91;
	background-color: #fef8e0;
	color: #718f91;
}